<form #crForm="ngForm">
  <div class="form-group">
    <label>PSG ID</label>
    <input class="form-control" [(ngModel)]="newChangeRequest.changeRequestId" name="changeRequestId"/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" [(ngModel)]="newChangeRequest.description" name="description"/>
  </div>
  <div class="form-group">
    <label>Date Required</label>
    <input type="date" class="form-control" [(ngModel)]="newChangeRequest.dateRequired" name="dateRequired"/>
  </div>
  <div class="form-group">
    <label>Raised By</label>
    <select class="form-control" [(ngModel)]="newChangeRequest.raisedByUser" name="raisedByUser">
      <option *ngFor="let user of users" [ngValue]="user">{{ user.firstName }} {{ user.surname }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Worktypes</label>
    <!--<input class="form-control" [(ngModel)]="newChangeRequest.worktypes" name="worktypes"/>-->
    <select class="form-control" [(ngModel)]="newChangeRequest.worktypes" name="worktypes" multiple>
      <option *ngFor="let worktype of worktypes" [value]="worktype">{{ worktype.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Billing Rules Required</label>
    <input type="checkbox" class="form-control" [(ngModel)]="newChangeRequest.billingRulesRequired" name="billingRulesRequired"/>
  </div>
  <div>
    <button class="btn-primary btn" (click)="addChangeRequest()">Add</button>
  </div>
</form>
