<h3>CR Tracker</h3>
<div class="row">
  <div id="kanbanBoardButtons" class="col list-group list-group-horizontal">
    <div class="list-group-item">
      <button type="button" class="btn-primary btn" data-toggle="modal" data-target="#addCrModal">Quick Add</button>
    </div>
    <div class="form-group list-group-item">
      <input type="checkbox" (change)="changeOnHold()" [(ngModel)]="includeOnHold" class="mr-2"/>
      <label>Include on Hold Change Requests</label>
    </div>
  </div>
</div>
<div id="kanbanContainer" class="row">

    <ng-container *ngFor="let stage of stages">
      <div class="col stage-column" *ngIf="stage.stageId != 8">
        <div class="text-center bg-dark text-white stage-title">
          <h6>{{ stage.stageName }}</h6>
        </div>
        <ul class="sortableList connectedList cr-kanban-list" [attr.data-id]="stage.stageId">
          <ng-container *ngFor="let changeRequest of changeRequests">
            <ng-container *ngIf="changeRequest.stage.stageId == stage.stageId">
              <li class="cr-kanban-list-item" [attr.data-id]="changeRequest.changeRequestId">
                <div class="card">

                  <div class="card-body py-1">
                    <div class="row">
                      <h5>{{ changeRequest.changeRequestId }}</h5>
                    </div>
                    <div class="row">
                      <span>{{ changeRequest.description }}</span>
                    </div>
                    <div class="row d-flex">
                      <div *ngIf="changeRequest.billingRulesRequired">
                        <i class="fas fa-file-invoice-dollar text-primary"></i>
                      </div>
                      <div>
                        <span>{{ changeRequest.dateRequired }}</span>
                      </div>
                      <div class="btn-group ml-auto mr-1">
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-h text-primary"></i>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right bg-dark">
                          <a class="dropdown-item kanban-dropdown-item" [routerLink]="['/change-requests/details', changeRequest.changeRequestId]">
                            <i class="fas fa-info-circle text-success mr-2"></i>
                            <span class="">Details</span>
                          </a>
                          <button class="dropdown-item kanban-dropdown-item" data-toggle="modal" data-target="#deleteCrModal" (click)="selectCrToDelete(changeRequest.changeRequestId)">
                            <i class="far fa-trash-alt text-danger mr-2"></i>
                            <span class="">Delete</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>


      </div>
    </ng-container>
 

</div>

<div id="addCrModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Change Request</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cr-form (changeRequestAdded)="updateChangeRequests($event)"></app-cr-form>
        <!--<app-add-cr-form></app-add-cr-form>-->
      </div>
    </div>
  </div>
</div>

<div id="deleteCrModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Change Request</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ crToDeleteId }}?</p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <button class="btn btn-danger mr-2" (click)="deleteChangeRequest()">Delete</button>
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
